- title "Specify your interests"

- semantic_form_for @user, :url => profile_path do |f|
  - f.inputs do
    = f.input :location
  - f.inputs "Interests" do
    - User.interest_groups.each do |group|
      = f.input group
  - f.buttons do
    = f.commit_button "Save my interests"

- User.interest_groups.each do |group|
  %div.interests{ :id => group }
    - all_interests(group).each do |interest|
      %a{ :href => "#", :title => h(interest) }= h interest

  :javascript
    Interests.init('#{group}')