= image_tag('paper_shadow_bottom_960.png')
%ul.credits
  %li= link_to "About", "/about"
  %li= link_to "Help", "/help"
  %li= link_to "Terms of Service", "/tos"
  %li= link_to "@migbar", "http://twitter.com/migbar"
  %li= link_to "galar.com", "http://galar.com"
%span.copyright
  %span= "&copy; 2010 Galar Systems, Inc."
