- title @place

- content_for :head do
  = @map.to_html_with_header

.place
  .rating= @place.rating
  .dishes
    - @dishes.each do |dish|
      .dish
        .name= h dish.name
        .rating= h dish.rating
        .status
          .body= h dish.latest_status
          .rating= h dish.latest_status.rating
      
- content_for :sidebar do
  .place
    %address= h @place.address
    = @map.div(:width => 300, :height => 300)
    